.previewCont {
  height: 450px;
  background-color: rgb(1, 40, 27);
}

.audio {
  /* background-color: blue; */
  width: 50%;
  height: 200px;


}

.action {
  /* background-color: brown; */
  height: 200px;
  width: 50%;


}

.btn_group button {
  background-color: #000000;
  border: 1px solid rgb(174, 107, 255);
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.btn_group button:not(:last-child) {
  border-bottom: none;
}


.btn_group button:hover {
  background-color: #af40ff;
}